<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Delivery">

    <!-- 판매자 별 delivery 조회 -->
    <resultMap type="com.team.vo.DeliveryVO" id="map1">
        <result column="DELIVERY_NO" property="deliveryNo" />
        <result column="DELIVERY_CODE" property="deliveryCode" />
        <result column="USER_ADDRESS" property="addressNo" />
        <result column="ORDER_DATE" property="orderDateString" />
        <result column="ORDER_CODE" property="orderCode" />
        <result column="USER_NAME" property="userName" />
        <result column="PRODUCT_TITLE" property="productTitle" />
        <result column="PRODUCT_CODE" property="productCode" />
        <result column="CART_QUANTITY" property="cartOptionCount" />
        <result column="PRICE" property="price" />
        <result column="ADDRESS_RECEIVER_NAME" property="receiverName" />
        <result column="OPTION_NAME" property="optionName" />

        
    </resultMap>
    
    <select id="select_seller_id_del_list" parameterType="map" resultMap="map1">
        SELECT * FROM (
            SELECT 
                TO_CHAR(ORDER_DATE, 'YYYY-MM-DD HH24:MI') ORDER_DATE,  ORDER_CODE, DELIVERY_NO, DELIVERY_CODE, USER_ADDRESS, 
                USER_NAME, PRODUCT_TITLE, PRODUCT_CODE, CART_QUANTITY, PRICE, ADDRESS_RECEIVER_NAME, OPTION_NAME,
                ROW_NUMBER() OVER (ORDER BY SELLER DESC) ROWN
            FROM (
		        SELECT 
                    ORDER_DATE,  ORDER_CODE, DELIVERY_NO, DELIVERY_CODE,  USER_ADDRESS, USER_NAME, SELLER, PRODUCT_TITLE, PRODUCT_CODE, 
                    CART_QUANTITY, SELLER_NAME, PRICE, ADDRESS_RECEIVER_NAME, OPTION_NAME
                FROM CART_OPTION_PRODUCT, ORDER_DELIVERY_USERADD_USER WHERE CART_OPTION_PRODUCT.CART_NO = ORDER_DELIVERY_USERADD_USER.CART_NO
		) WHERE SELLER =#{id}) 
        WHERE ROWN BETWEEN #{page} AND #{page1};
    </select>

    <!--
        CART, PRODUCT OPTION, PRODUCT 조인문 VIEW 생성
        CREATE VIEW CART_OPTION_PRODUCT AS
        SELECT CARTPRO.PRODUCT_CODE, CART_NO ,PRODUCT_TITLE, CART_QUANTITY, OPTION_NAME, (OPTION_PRICE*CART_QUANTITY)PRICE FROM(
            SELECT PRODUCT_OPTION.OPTION_CODE, PRODUCT_CODE, CART_NO, CART_QUANTITY , OPTION_NAME, OPTION_PRICE
            FROM CART, PRODUCT_OPTION WHERE CART.OPTION_CODE = PRODUCT_OPTION.OPTION_CODE
        )CARTPRO, PRODUCT WHERE CARTPRO.PRODUCT_CODE = PRODUCT.PRODUCT_CODE;
    -->
    <!--
        ORDER, DELIVERY, USERADDRESS 조인문 VIEW 생성
        CREATE VIEW ORDER_DELIVERY_USERADD_USER AS
        SELECT ORDER_DATE, ORDER_CODE, DELIVERY_NO, DELIVERY_CODE, USER_ADDRESS, SELLER, USER_NAME, CART_NO, SELLER_NAME, ADDRESS_RECEIVER_NAME
        FROM(
	        SELECT * FROM(
		        SELECT 
		            ORDER_DATE, ORDER_CODE, DELIVERY_NO, DELIVERY_CODE, USER_ADDRESS, SELLER, CART_NO, SELLER_NAME
                FROM ORDER_TB, (SELECT * FROM DELIVERY, SELLER WHERE DELIVERY.SELLER = SELLER.SELLER_ID)DELS WHERE ORDER_TB.ORDER_NO = DELS .ORDER_NO
		    ) ORDE, USER_ADDRESS
	    WHERE ORDE.USER_ADDRESS = USER_ADDRESS.ADDRESS_NO)ORDEADD, USER_TB WHERE ORDEADD.USER_ID = USER_TB .USER_ID;
    -->

    <!-- 유저 별 delivery 조회 -->
    <resultMap type="com.team.vo.DeliveryVO" id="map2">
        <result column="DELIVERY_CODE" property="deliveryCode" />
        <result column="USER_ADDRESS" property="addressNo" />
        <result column="ORDER_DATE" property="orderDateString" />
        <result column="ORDER_CODE" property="orderCode" />
        <result column="PRODUCT_TITLE" property="productTitle" />
        <result column="PRODUCT_CODE" property="productCode" />
        <result column="CART_QUANTITY" property="cartOptionCount" />
        <result column="PRICE" property="price" />
        <result column="ADDRESS_RECEIVER_NAME" property="receiverName" />
        <result column="OPTION_NAME" property="optionName" />
        <result column="SELLER_NAME" property="sellerName" />
        
    </resultMap>

    <select id="select_user_id_del_list" parameterType="map" resultMap="map2">
        SELECT * FROM (
            SELECT 
                TO_CHAR(ORDER_DATE, 'YYYY-MM-DD HH24:MI') ORDER_DATE,  ORDER_CODE, DELIVERY_CODE,  USER_ADDRESS, PRODUCT_TITLE, PRODUCT_CODE, CART_QUANTITY, PRICE, 
                ADDRESS_RECEIVER_NAME, OPTION_NAME, SELLER_NAME, ROW_NUMBER() OVER (ORDER BY SELLER DESC) ROWN
            FROM (
                SELECT 
                    ORDER_DATE, ORDER_CODE, DELIVERY_NO, DELIVERY_CODE,  USER_ADDRESS, USER_NAME, SELLER, PRODUCT_TITLE, PRODUCT_CODE, USER_ID,
                    CART_QUANTITY, SELLER_NAME, PRICE, ADDRESS_RECEIVER_NAME, OPTION_NAME
                FROM CART_OPTION_PRODUCT, ORDER_DELIVERY_USERADD_USERID 
                WHERE CART_OPTION_PRODUCT.CART_NO = ORDER_DELIVERY_USERADD_USERID.CART_NO
                        ) WHERE USER_ID=#{id}) 
        WHERE ROWN BETWEEN #{page} AND #{page1};
        </select>

    <!--
        ORDER, DELIVERY, USERADDRESS 조인문 VIEW 생성(userid 포함)
        CREATE VIEW ORDER_DELIVERY_USERADD_USERID AS
        SELECT ORDER_DATE, ORDER_CODE, DELIVERY_NO, DELIVERY_CODE, USER_ADDRESS, SELLER, USER_NAME, CART_NO, USER_TB .USER_ID, SELLER_NAME, ADDRESS_RECEIVER_NAME
        FROM(
	        SELECT * FROM(
		        SELECT 
			        ORDER_DATE, ORDER_CODE, DELIVERY_NO, DELIVERY_CODE, USER_ADDRESS, SELLER, CART_NO, SELLER_NAME
		        FROM ORDER_TB, (SELECT * FROM DELIVERY, SELLER WHERE DELIVERY.SELLER = SELLER.SELLER_ID)DELS WHERE ORDER_TB.ORDER_NO = DELS.ORDER_NO
		        ) ORDE, USER_ADDRESS
	    WHERE ORDE.USER_ADDRESS = USER_ADDRESS.ADDRESS_NO)ORDEADD, USER_TB WHERE ORDEADD.USER_ID = USER_TB .USER_ID;
    -->

</mapper>