<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnA">

    <!-- 물품 코드 별 qna 조회 -->
    <resultMap type="com.team.vo.QnAVO" id="map1">
        <result column="QNA_NUM" property="qnaNum" />
        <result column="QNA_TITLE" property="qnaTitle" />
        <result column="QNA_CONTENT" property="qnaContent" />
        <result column="QNA_REGDATE" property="qnaRegdateString" />
        <result column="QNA_REPLY" property="qnaReply" />
        <result column="QNA_REPLY_REGDATE" property="qnaReplyRegdateString" />
        <!-- <result column="PRODUCT_CODE" property="productCode" /> -->
    </resultMap>
    
    <select id="select_product_code_qna_list" parameterType="map" resultMap="map1">
    SELECT * FROM (
        SELECT 
            QNA_NUM, QNA_TITLE, QNA_CONTENT, TO_CHAR(QNA_REGDATE, 'YYYY-MM-DD HH24:MI') QNA_REGDATE, QNA_REPLY, 
            TO_CHAR(QNA_REPLY_REGDATE, 'YYYY-MM-DD HH24:MI') QNA_REPLY_REGDATE,
        PRODUCT_CODE, ROW_NUMBER() OVER (ORDER BY PRODUCT_CODE DESC) ROWN 
        FROM QNA_TB2 WHERE PRODUCT_CODE =${code}) 
    WHERE ROWN BETWEEN #{page} AND #{page1};
    </select>

    <!-- 유저 id 별 qna 조회-->
    <resultMap type="com.team.vo.QnAVO" id="map2">
        <result column="QNA_NUM" property="qnaNum" />
        <result column="QNA_TITLE" property="qnaTitle" />
        <result column="QNA_CONTENT" property="qnaContent" />
        <result column="QNA_REGDATE" property="qnaRegdateString" />
        <result column="QNA_REPLY" property="qnaReply" />
        <result column="QNA_REPLY_REGDATE" property="qnaReplyRegdateString" />
        <!-- <result column="PRODUCT_CODE" property="productCode" /> -->
    </resultMap>

    <select id="select_user_id_qna_list" parameterType="map" resultMap="map2">
    SELECT * FROM (
        SELECT QNA_NUM, QNA_TITLE, QNA_CONTENT, TO_CHAR(QNA_REGDATE, 'YYYY-MM-DD HH24:MI') QNA_REGDATE, QNA_REPLY, 
            TO_CHAR(QNA_REPLY_REGDATE, 'YYYY-MM-DD HH24:MI') QNA_REPLY_REGDATE ,
            USER_ID, ROW_NUMBER() OVER (ORDER BY USER_ID DESC) ROWN 
        FROM QNA_TB2 WHERE USER_ID=#{userid}) 
    WHERE ROWN BETWEEN #{page} AND #{page1};
    </select>

    <!-- 판매자 id 별 qna 조회-->
    <resultMap type="com.team.vo.QnAVO" id="map3">
        <result column="QNA_NUM" property="qnaNum" />
        <result column="QNA_TITLE" property="qnaTitle" />
        <result column="QNA_CONTENT" property="qnaContent" />
        <result column="QNA_REGDATE" property="qnaRegdateString" />
        <result column="QNA_REPLY" property="qnaReply" />
        <result column="QNA_REPLY_REGDATE" property="qnaReplyRegdateString" />
        <result column="PRODUCT_CODE" property="productCode" />
        <result column="SELLER_ID" property="sellerId" />
        
    </resultMap>

    <select id="select_seller_id_qna_list" parameterType="map" resultMap="map3">
    SELECT * FROM (
        SELECT 
            QNA_TITLE, QNA_CONTENT, QNA_REGDATE, QNA_REPLY, QNA_REPLY_REGDATE, SELLER_ID, PRODUCT_CODE,
            ROW_NUMBER() OVER (ORDER BY SELLER_ID DESC) ROWN
        FROM (
    SELECT 
        QNA_NUM, QNA_TITLE, QNA_CONTENT, QNA_REGDATE, QNA_REPLY, QNA_REPLY_REGDATE, SELLER_ID, PROQNA.PRODUCT_CODE
    FROM (
        SELECT QNA_NUM, QNA_TITLE, QNA_CONTENT, QNA_REGDATE, QNA_REPLY, QNA_REPLY_REGDATE, PRODUCT.PRODUCT_CODE
        FROM PRODUCT, QnA_TB2 WHERE PRODUCT.PRODUCT_CODE = QnA_TB2.PRODUCT_CODE
            )PROQNA, SELLER
            )
        WHERE SELLER_ID =#{userid}) 
    WHERE ROWN BETWEEN #{page} AND #{page1};
    </select>

</mapper>
